body { text-align: center;
    background-image:  url("IMG/1761.png"); /* The image used */
    background-color: #82ba28eb; 
    background-blend-mode: multiply;
    height: 500px; /* You must set a specified height */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.searchBtn {
    background-color: hsl(108, 7%, 15%);
    margin: 10px;
    border-width: 2px;
}
.container {
    margin: auto;
}

.poke-container {
    margin: auto;
    width: 90px;
    padding: 10px;
}

.header-container {
    border-radius: 0px !important;
}

.header-text{
    margin: 0 auto;
}
.generate-pokemon {
    margin: 0 auto;
}

.searchBtn {
    background-color: #5fb618;
    margin: 10px;
    border-width: 2px;
}
.pics { 
    position: absolute;
    right: 100px;
    bottom: 120px;

}